.postpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    padding: 20px;
}

.postcard {
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: var(--radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    margin-bottom: 20px;
}

.postcard-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.postcard-content {
    font-size: 1rem;
    margin-bottom: 20px;
}

.postcard-footer {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-direction: column;
    color: var(--text-muted);
}

/*media queries for tablets and mobile devices*/
@media (max-width: 768px) {
    .postcard {
        padding: 15px;
    }
    
.postcard-title {
        font-size: 1.2rem;
    }

    .postcard-content {
        font-size: 0.9rem;
    }

    .postcard-footer {
        font-size: 0.8rem;
    }
}